{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}
        <nav class="navbar">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            {{user.username}}
          {% else %}
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
            |
            <a class="nav-link" href="{% url 'users:register' %}">Register</a> 
          {% endif %}
        </nav>
      {% endblock navbar %}  
    </div>
    <div id="messages">
      {% block messages %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% endblock messages %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>



{% comment %} <html>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <ul>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock navbar %}
    {% block messages %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endblock messages %}
    {% block content %}
    {% endblock content %}
  </body>
</html> {% endcomment %}
